# Files to ignore in KET's DL / FowWeb repo
*.dbf
*.idx
*.dct
*.bak
*.exe
*.dcx
*.dir
*.err
*.isu
*.itm
*.mem
*.xls
*.csv
*.fxp
*.dbc
*.cdx
*.lbt
*.lbx
*.pjt
*.pjx
*.qpr
*.qpx
*.frt
*.frx
*.fpt
*.doc
*.reg
*.sql
*.tbk
*.tmp
*.dat

############

*.fxp

Backup

*GRAVEYARD*